<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsf.huanbaobao.mapper.AdminMapper">
    <!--编辑管理员信息-->
    <update id="updateAdmin">
        update t_admin
        <set>
            <if test="adminName != null">
                admin_name = #{adminName},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <!--修改密码-->
    <update id="updateAdminPw">
        update t_admin
        <set>
            <if test="adminPw != null">
                admin_pw = #{newPw}
            </if>
        </set>
        <where>
            admin_name=#{adminName} and admin_pw =#{adminPw}
        </where>
    </update>
</mapper>