<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsf.huanbaobao.mapper.OrderMapper">
    <!--int insertOneOrder(Order order);-->
    <!--插入一条order订单数据-->
    <insert id="insertOneOrder" useGeneratedKeys="true" keyProperty="oid">
        insert into t_order(uid,aid,recv_name,recv_phone,recv_province,
                            recv_city,recv_area,recv_address,
                            total_price,status,order_time,pay_time,
                            created_user,created_time,modified_user,modified_time)
                        values(
                            #{uid},#{aid},#{recvName},#{recvPhone},#{recvProvince},#{recvCity},
                            #{recvArea},#{recvAddress},#{totalPrice},#{status},#{orderTime},
                            #{payTime},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
                               )
    </insert>

    <!--int insertOneOrderItem(OrderItem orderItem);-->
    <!--向order_item表中插入一条orderItem数据-->
    <insert id="insertOneOrderItem">
        insert into t_order_item(oid,pid,title,image,price,num,
                        created_user,created_time,modified_user,modified_time)
                        values(#{oid},#{pid},#{title},#{image},#{price},
                               #{num},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
                          )
    </insert>

    <!--Order queryOrderByOid(Integer oid);-->
    <!--根据oid查询订单详情-->
    <!--<select id="queryOrderByOid" resultMap="queryOrder">-->
    <select id="queryOrderByOid" resultType="Order">
        select * from t_order where oid = #{oid};
    </select>

    <!--int updateStatusByOidInt(Integer oid, Integer status, Date payTime);-->
    <!--根据订单号修改支付状态和支付时间-->
    <update id="updateStatusByOidInt">
       update t_order set status = #{status},pay_time = #{payTime} where oid = #{oid}
    </update>

    <!--List<OrderItem> queryOrderItemByOid(Integer oid);-->
    <!--根据oid能从order_item表中找到对应的pid信息-->
    <select id="queryOrderItemByOid" resultType="OrderItem">
    <!--<select id="queryOrderItemByOid" resultMap="queryOrderItem">-->
        SELECT * FROM t_order_item WHERE oid = #{oid}
    </select>

    <!--List<OrderVo> queryOrderVoByOid(Integer oid);-->
    <!--根据oid查询值对象-->
    <select id="queryOrderVoByOid" resultType="com.wsf.huanbaobao.vo.OrderVo">
       SELECT   od.`oid`,od.`aid`,od.`recv_name` AS recvName,od.`total_price`AS totalPrice,
                od.`status`,od.`order_time` AS orderTime,od.`pay_time` AS payTime,
                orm.`image`,orm.`title`,
                orm.`price`,orm.`num`
        FROM t_order od
        LEFT JOIN t_order_item orm
        ON od.`oid` = orm.`oid`
        WHERE od.oid = #{oid}
        ORDER BY orm.`price` DESC;
    </select>

    <!--List<OrderVo> queryOrderVoByUid(Integer uid,Integer status);-->
    <!--根据uid查询值对象-->
    <select id="queryOrderVoByUid" resultType="com.wsf.huanbaobao.vo.OrderVo">
       SELECT od.`oid`,od.`aid`,od.`recv_name` as recvName,od.`total_price` AS totalPrice,
       od.`status`,od.`order_time` AS orderTime,
       orm.`image`,orm.`title`,
       orm.`price`,orm.`num`
        FROM t_order od
        LEFT JOIN t_order_item orm
        ON od.`oid` = orm.`oid`
        WHERE od.uid = #{uid}
        <if test="status !=null">
            and od.status = #{status}
        </if>
        ORDER BY od.`order_time` DESC;
    </select>

    <!--查询订单信息-->
    <select id="selectAll" resultType="com.wsf.huanbaobao.vo.OrderVo">
        select od.`recv_name` as recvName, od.`status`, od.`order_time` AS orderTime,
        orm.`title`, od.`recv_phone` as phone, od.`recv_province` as provinceName,
        od.`recv_city` as cityName, od.`recv_address` as address
        from t_order od
        LEFT JOIN t_order_item orm
        ON od.`oid` = orm.`oid`
        where od.`recv_name` LIKE '%${recvName}%'
        ORDER BY orderTime ASC
    </select>
</mapper>